/* Progress bar */
.progress-bar{ @apply h-4 w-full bg-gray-100 dark:bg-gray-800 rounded-full shadow-inner overflow-hidden; }
.progress-bar-value{ @apply flex h-full items-center justify-center bg-primary-600 dark:bg-primary-500 rounded-r-full shadow-inner text-xs font-bold text-white; }

/* Tema tabel bergaris (opsional) */
.custom-bordered-table table{ border:1px solid #1B2431; }
.custom-bordered-table th, .custom-bordered-table td{ border:1px solid #273142; }
.custom-bordered-table thead{ background:#1B2431; color:#fff; }
.custom-bordered-table tbody tr:nth-child(even){ background:#273142; }
.custom-bordered-table tbody tr:nth-child(odd){ background:#323D4E; }
